<div class="container">
    <h1>View Passenger</h1>
  
    <a href="#" [routerLink]="['/Passengers/index']" class="btn btn-primary">&lt;&lt; Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ passenger.id }}</p>
    </div>
   
    <div>
        <strong>First Name:</strong>
        <p>{{ passenger.firstName }}</p>
    </div>
   
    <div>
        <strong>Last Name:</strong>
        <p>{{ passenger.lastName }}</p>
    </div>

    <div>
        <strong>Email:</strong>
        <p>{{ passenger.email }}</p>
    </div>

    <div>
        <strong>Job:</strong>
        <p>{{ passenger.job }}</p>
    </div>

    <div>
        <strong>Age:</strong>
        <p>{{ passenger.age }}</p>
    </div>
   
</div>