.theme {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)), url(../assets/sacha-verheij.jpg);
    /* background-size: 100%; */
    background-position: 100%;
    min-height: 100vh;
    /* min-width: 100vw; */
    align-items: center;
}

.main-page {
    height:max-content;
}

.title {
    padding: 5rem 0 0 0;
    font-size: 900%;
    color: rgb(92, 171, 198);
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

/* .title:hover {
    font-size: 910%;
    color: rgb(93, 172, 199);
} */

.byline {
    color: rgb(92, 171, 198);
    font-size: 300%;
    text-align: center;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding: 11rem 0 0 0;
}

/* .byline:hover {
    font-size: 310%;
    color: rgb(199, 227, 236);
} */

.navcol {
    background-color: #e3f2fd;
    margin: 0 0 5rem;    
}

.nav-pad {
    padding: 0 2rem 0 2rem;
}

.nav-item {
    padding: 0 1rem 0 1rem !important;
}

/* .frontpage-image {
    align-items: center;
    justify-content: center;
} */