<div class="container">
    <h1>Update Passenger</h1>
    <a href="#" routerLink="/Passengers/index" class="btn btn-primary">&lt;&lt; Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="flightNumber">Flight Number</label>
            <input type="text" class="form-control" id="flightNumber" formControlName="flightNumber" />
            <div *ngIf="f['flightNumber'].touched && f['flightNumber'].invalid" class="alert alert-danger">
                <div *ngIf="f['flightNumber'].errors f['flightNumber'].errors[required]">Flight Number is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="departureDate">Departure Date</label>
            <input type="text" class="form-control" id="departureDate" formControlName="departureDate" />
            <div *ngIf="f['departureDate'].touched && f['departureDate'].invalid" class="alert alert-danger">
                <div *ngIf="f['departureDate'].errors f['departureDate'].errors[required]">Departure Date is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="arrivalDate">Arrival Date</label>
            <input type="text" class="form-control" id="arrivalDate" formControlName="arrivalDate" />
            <div *ngIf="f['arrivalDate'].touched && f['arrivalDate'].invalid" class="alert alert-danger">
                <div *ngIf="f['arrivalDate'].errors f['arrivalDate'].errors[required]">Arrival Date is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="departureTime">Departure Time</label>
            <input type="text" class="form-control" id="departureTime" formControlName="departureTime" />
            <div *ngIf="f['departureTime'].touched && f['departureTime'].invalid" class="alert alert-danger">
                <div *ngIf="f['departureTime'].errors f['departureTime'].errors[required]">departureTime is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="arrivalTime">Arrival Time</label>
            <input type="text" class="form-control" id="arrivalTime" formControlName="arrivalTime" />
            <div *ngIf="f['arrivalTime'].touched && f['arrivalTime'].invalid" class="alert alert-danger">
                <div *ngIf="f['arrivalTime'].errors f['arrivalTime'].errors[required]">Arrival Time is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="departureAirport">Departure Airport</label>
            <input type="text" class="form-control" id="departureAirport" formControlName="departureAirport" />
            <div *ngIf="f['departureAirport'].touched && f['departureAirport'].invalid" class="alert alert-danger">
                <div *ngIf="f['departureAirport'].errors f['departureAirport'].errors[required]">Departure Airport is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="arrivalAirport">Arrival Airport</label>
            <input type="text" class="form-control" id="arrivalAirport" formControlName="arrivalAirport" />
            <div *ngIf="f['arrivalAirport'].touched && f['arrivalAirport'].invalid" class="alert alert-danger">
                <div *ngIf="f['arrivalAirport'].errors f['arrivalAirport'].errors[required]">Arrival Airport is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="passengerLimit">Passenger Limit</label>
            <input type="text" class="form-control" id="passengerLimit" formControlName="passengerLimit" />
            <div *ngIf="f['passengerLimit'].touched && f['passengerLimit'].invalid" class="alert alert-danger">
                <div *ngIf="f['passengerLimit'].errors f['passengerLimit'].errors[required]">Passenger Limit is required</div>
            </div>
        </div>
           
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>