<div class="container">
    <h1>Create a New Passenger</h1>
    <a href="#" routerLink="/Passengers/index" class="btn btn-primary">&lt;&lt; Back</a>
    <form [formGroup]="newPassengerForm" (ngSubmit)="submit()" >

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" />
            <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstName'].errors f['firstName'].errors[required]">First Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" />
            <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastName'].errors f['lastName'].errors[required]">Last Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors f['email'].errors[required]">Email is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" id="job" formControlName="job" />
            <div *ngIf="f['job'].touched && f['job'].invalid" class="alert alert-danger">
                <div *ngIf="f['job'].errors f['job'].errors[required]">Job is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age" />
            <div *ngIf="f['age'].touched && f['age'].invalid" class="alert alert-danger">
                <div *ngIf="f['age'].errors f['age'].errors[required]">Age is required</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!newPassengerForm.valid">Submit</button>
    </form>
</div>


