/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
/* @import "~bootswatch/dist/cerulean/variables";
@import "~bootstrap/css/bootstrap";
@import "~bootswatch/dist/cerulean/bootswatch"; */

.theme {
    background-image: url('./assets/sacha-verheij.jpg');
    height: 100%;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.05rem;
}